{% extends '::base.html.twig' %}

{% block body -%}
    {{ entity.texto | raw}}

    {#    {% if is_granted('ROLE_ADMIN') %}#}
    <ul class="record_actions">
        <li>
            <a href="{{ path('generaciones_edit', { 'id': entity.id }) }}">
                Edit
            </a>
        </li>
    </ul>
    {#    {% endif %}#}
{% endblock %}
