{% extends "::base.html.twig"%}

{% block body -%}
    <h1>GENERACIONES CATARTICAS </h1>
    <p>
        Han sido varias las generaciones presentes en la producción de programación 
        de Catarsis a lo largo de estos 29 años de labores ininterrumpidas. Las razones
        de estos cambios son varias desde razones familiares y/o laborales hasta posibilidades
        de estudio en el exterior de algunos de estos amigos catárticos. Durante la Celebración 
        del 25 aniversario de Catarsis, llegaron parte de los antiguos colegas que colaboraron para
        que esta agrupación pudiera llegar a ser lo que es hoy en día.

    </p>
    <p>
        La primera generación, estaba constituida por Alvaro Artavia, Daniel Aguilar, Eric Guevara
        y Jorge "Botonetas" Arias.
    </p>

    <p>
        La segunda generación, fue una especie de transición con Eric Guevara , Francisco "Cachorro"
        Aguilar, Rodolfo Soto y Johnny Schroeder.
    </p>

    <p>
        La tercera generación, la constituyeron Nelson Brenes, Walter Rodriguez, Ignacio "Nacho" Trejos,
        Marvin Gonzalez y Luis Campabadal. 
    </p>

    <p>
        La cuarta generación la constituyeron Rafael Gonzalez, Walter Rodriguez, Marvin Gonzalez, Eduardo Quiros.  
    </p>

    <p>
        La quinta generación estaba constituida por Giorgio Murillo, Francisco Aguilar, Freddy "Fripp" Mora, Federico 
        "Zappa" Mata y Arnaldo Rodriguez. Se encuentran también Alejandra Morales Quesada, Ivonne Brenes y nuestro
        "guru espiritual" por muchos años Rafael González. 
    </p>

    <p>
        La quinta generación aumentada, se constituye con la base de la anterior y se introducen las colaboraciones de 
        Mauricio Beeche, Sergio Quesada, Ricardo Aguilar, Boris Shosinsky, Jesús Peraza, Ricardo Hoss y Alfredo Chirino..
    </p>
{% endblock%}