{% extends '::base.html.twig' %}

{% block body -%}
    {{ form(form) }}
    
    {#        <ul class="record_actions">
        <li>
            <a href="{{ path('definiciones') }}">
                Back to the list
            </a>
        </li>
    </ul>#}
    {{ tinymce_init() }}
{% endblock %}
