<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Grupo Catarsis{% endblock %}</title>
        {% block stylesheets %}
            {% stylesheets '@RUGCProgramacionCatarsisBundle/Resources/public/css/*' filter='cssrewrite' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}

            {%javascripts '@RUGCProgramacionCatarsisBundle/Resources/public/JS/*' %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

    <div class="divBanner">        
    </div>
    {{render_hinclude( controller('RUGCProgramacionCatarsisBundle:OpcionesMenu:index') )}}
</head>

<body>
    <div class="contenedor">
        {% block body %}           
        {% endblock %}

        {% block footer %}
            <div class="footer">                
            </div>
        {% endblock %}
    </div>
</body>

</html>
