{% extends '::base.html.twig' %}

{% block body -%}

    {{ entity.texto | raw}}

    <ul class="record_actions">

        <a class="link" href="{{ path('conozcanos_edit', { 'id': entity.id }) }}">
            Editar Contenido
        </a>
            
    </ul>
{% endblock %}
