{% extends '::base.html.twig' %}

{% block body -%}

    {{ entity.texto | raw}}

    <ul class="record_actions">

        {% if is_granted('ROLE_ADMIN') %}
            <a class="link" href="{{ path('conozcanos_edit', { 'id': entity.id }) }}">
                Editar Contenido
            </a>
        {% endif %}

    </ul>
{% endblock %}
