{% extends '::base.html.twig' %}

{% block body -%}


    <h1>Seleccione el mes y año...</h1>

    <form action="{{path('programacion_new')}}" method="POST" >
        <div class="validaciones">
            <label>Mes y año :</label> 
            {% if mensaje %}
                <ul><li>{{mensaje}}</li></ul>
                    {% endif %}
            <input type='text' class="txt" id='txtDate' name='fecha' readonly=""/>
        </div>
        <input type="submit" name="btnBuscar" class="btnDer" value="Ir"/>

    </form>
{% endblock %}
