{% extends '::base.html.twig' %}

{% block body -%}


    <h1>Seleccione el mes y año...</h1>

    <form action="{{path('programacion_new')}}" method="POST" >
        <div class="validaciones">
            <label> Seleccione la Fecha :</label> <input type='text' class="txt" id='txtDate' name='fecha'/>
        </div>
        <input type="submit" name="btnBuscar" class="button" value="Ir"/>
    </form>
{% endblock %}
