{% extends '::base.html.twig' %}

{% block body -%}

    {{ entity.texto | raw}} 
    {% if is_granted('ROLE_ADMIN') %}
        <a class="link" href="{{ path('grupos_edit', { 'id': entity.id }) }}">
            Editar contenido
        </a>
    {% endif %}
{% endblock %}
