{% extends '::base.html.twig' %}

{% block body -%}

    {% if mensaje=='' %}
        {{ entity.texto | raw}}

    {% else %}
        {{mensaje}}

    {% endif %}

    <ul class="record_actions">

        {% if is_granted('ROLE_ADMIN') %}


            {% if mensaje=='' %}
               <a class="link" href="{{ path('contenido_edit', { 'id': entity.id }) }}">
                Editar Contenido
            </a>

            {% endif %}
        {% endif %}

    </ul>
{% endblock %}