{% extends '::base.html.twig' %}
{% trans_default_domain "RUGCProgramacionCatarsisBundle" %}

{% block body -%}
    <h1>{{ "form.Titulo.titulo_Editar_Contenido"|trans }}</h1>
    <div class="validaciones">
    {{ form(edit_form) }}

    {{ tinymce_init() }}
    </div>
{% endblock %}
