{% extends '::base.html.twig' %}

{% block body -%}
    {{ form(form) }}
    {{ tinymce_init() }}

{#    <ul class="record_actions">
        <li>
            <a href="{{ path('encabezado') }}">
                Back to the list
            </a>
        </li>
    </ul>#}
{% endblock %}
