{% extends '::base.html.twig' %}

{% block body -%}

    {% if  app.request.locale == 'es' %}            
        {{ entity.textoes | raw}}
    {% else %}
        {{ entity.textoen | raw}}
    {% endif%}


    {#    {% if is_granted('ROLE_ADMIN') %}#}    
    <ul class="record_actions">
        <li>
            <a class="link" href="{{ path('encabezado_edit', { 'id': entity.id }) }}">
                Editar Contenido
            </a>
        </li>
    </ul>
    {#    {% endif %}#}            
{% endblock %}
