{% extends '::base.html.twig' %}
{% trans_default_domain "RUGCProgramacionCatarsisBundle" %}
{% block body -%}
    <h1>{{ "form.Titulo.titulo_Editar_Enlace"|trans }}</h1>

    {{ form(edit_form) }}


    {{ form(delete_form) }}
{% endblock %}
