{% extends '::base.html.twig' %}
{% trans_default_domain "RUGCProgramacionCatarsisBundle" %}
{% block body -%}
    <h1>{{ "form.Titulo.titulo_Crear_Enlace"|trans }}</h1>
    {{ form(form) }}

{% endblock %}
