/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 09/07/2014, 12:16:40 PM
    Author     : jsoto-gvasquez
*/

.link{
    float: right;
    color:#069;
    width: auto;
    margin-bottom: 20px;
    font-size: 14px;
    font-family: sans-serif;
}

.btnIzq{
    cursor: pointer;
    float: right;
    padding: 2px 7px 2px 7px;
    width: auto;
    margin-top:6px;
    margin-bottom: 20px;
    font-size: 14px;
    font-family: sans-serif;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    background-color: #ffeacd;
}

.btnDer{
    cursor: pointer;
    float: right;
    width: auto;
    margin-top:20px;
    padding: 2px 7px 2px 7px;
    margin-bottom: 20px;
    margin-left: 50px;
    font-size: 14px;
    font-family: sans-serif;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    text-decoration: none; 
    border-radius: 5px 5px 5px 5px;
    background-color: #ffeacd;

}

.enlace{
    float: right;
    color:#FFFFFF;
    width: auto;
    margin-top:20px;
    padding: 2px 7px 2px 7px;
    margin-bottom: 20px;
    font-size: 14px;
    font-family: sans-serif;
    border:2px solid darkgreen;
    background-color: darkgreen;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    text-decoration: none;
}

.textArea{
    height: 300px;
}

.divEncabezadoRadio{
    float: left;
    width: 400px;
    height: auto;
    margin-left: 35px;
    margin-right: 35px;
    display: block;
    margin-bottom: 20px;
}

.divEncabezadoTV{
    width: 400px; 
    height: auto;
    float: left;
    margin-left: 35px;
    margin-right: 35px;
    display: block;
    margin-bottom: 20px;
}

.divRadio{
    float: left;
    width: 400px;
    overflow-y: auto;
    margin-left: 35px;
    margin-right: 35px;
}

.divTV{
    width: 400px; 
    overflow-y: auto;
    float: left;
    margin-left: 35px;
    margin-right: 35px;
}

.fechaProgramacion{
    height: auto;
    width: 1000px;
    margin: 10px 0px 10px 0px;
}

form div { 
    padding: 7px; 
}

form div label{
    display: block; 
    float: left; 
    height: 20px;
    width: 150px;
    color: grey; 
    font-weight: bold; 
    font-size:14px;
    font-family:sans-serif;
}

.table{
    margin-top: 20px;
    font-family: sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 1em;
    float: left;
}

.table tr {
    border: 0;
}

.table tr>td:first-child,tr>th:first-child {
    padding-left: 1.25em;
}

.table tr>td:last-child,tr>th:last-child {
    padding-right: 1.25em;
}

.table td,th {
    line-height: 1.5em;
    padding: 0.5em 0.6em;
    text-align: left;
    vertical-align: top;
}

.table th {
    background-color: #efefef;
    color: #666666;
    line-height: 1.7em;
    padding: 0.2em 0.6em;
}

.table thead th {
    width:1000px;
    white-space:nowrap;
    font-weight: bold;
    background:#579c84;
    padding-left:2px;
    font: caption;
    color:#ffffff;
}

.table th a {
    display: block;
    text-decoration: none;
}

.table th a:link,th a:visited {
    color: #666666;
}

.table th a:hover,th a:focus {
    color: #333333;
}

.txt{
    font-family: sans-serif;
    font-size: 12px;
    width: 250px;
    height: 23px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border:2px groove;
}

.txtArea{
    font-family: sans-serif;
    font-size: 12px;
    width: 250px;
    height: 75px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border:2px groove;
}


/*CALENDARIO*/
.tcalInput {
    background: url('/bundles/rugcprogramacioncatarsis/img_calendario/calendar.png') 100% 50% no-repeat;
    padding-right: 20px;
    cursor: pointer;
}

#tcal {
    position: absolute;
    visibility: hidden;
    z-index: 100;
    width:22%;
    background:#fbfbfb;
    margin-top: 2px;
    padding: 0 2px 2px 2px;
    border:1px solid #e5e5e5;
    font-size:12px;
    background:#fbfbfb;
    -moz-box-shadow:inset 1px 1px 2px rgba(200,200,200,0.2);
    -webkit-box-shadow:inset 1px 1px 2px rgba(200,200,200,0.2);
    box-shadow:inset 1px 1px 2px rgba(200,200,200,0.2);
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='silver')";
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='silver');
}

#tcalControls {
    border-collapse: collapse;
    border: 0;
    width: 100%;
}
#tcalControls td {
    border-collapse: collapse;
    border: 0;
    padding: 0;
    width: 16px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    cursor: pointer;
}
#tcalControls th {
    border-collapse: collapse;
    border: 0;
    padding: 0;
    height: 10px;
    line-height: 25px;
    font-size: 10px;
    text-align: center;
    font-family: Tahoma, Geneva, sans-serif;
    font-weight: bold;
    white-space: nowrap;
}
#tcalPrevYear { background-image: url('/bundles/rugcprogramacioncatarsis/img_calendario/prev_year.gif'); }
#tcalPrevMonth { background-image: url('/bundles/rugcprogramacioncatarsis/img_calendario/prev_mon.gif'); }
#tcalNextMonth { background-image: url('/bundles/rugcprogramacioncatarsis/img_calendario/next_mon.gif'); }
#tcalNextYear { background-image: url('/bundles/rugcprogramacioncatarsis/img_calendario/next_year.gif'); }


#tcalGrid {
    border-collapse: collapse;
    border: 1px solid silver;
    width: 100%;
}
#tcalGrid th {
    border: 1px solid silver;
    border-collapse: collapse;
    padding: 3px 0;
    text-align: center;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 10px;
    background-color: cadetblue;
    color: white;
}
#tcalGrid td {
    border: 0;
    border-collapse: collapse;
    padding: 2px 0;
    text-align: center;
    font-family: Tahoma, Geneva, sans-serif;
    width: 14%;
    font-size: 11px;
    cursor: pointer;
}		
#tcalGrid td.tcalOtherMonth { color: cadetblue; }
#tcalGrid td.tcalWeekend { background-color:lightgreen; }
#tcalGrid td.tcalToday { border: 1px solid green; }
#tcalGrid td.tcalSelected { background-color:forestgreen; }	

.validaciones ul{
    color: red;
    list-style-type:none;
    font-size: 14px;
    font-family: sans-serif;
    margin: 0px;
    margin-bottom: 2px;
}

.imagenEdit{
    margin-top: 10px;
    margin-left: 150px;
}

.programacion{
    margin-bottom: 20px;
    background-color: #FFF8F0;
}

.tiulo{
    font-weight: bold;
    font-size: 25pt;
}
.obra{
    font-size: 20pt;
}

.descripcion{
    font-size: 13pt;
}

.ui-datepicker-calendar {
    display: none;
}

/* CSS Document */

/***************************************************
        online solutions by marija zaric
        template distributed by
        http://freehtml5templates.com 
***************************************************/

a img {border:none}

aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {display: block}

/***************************************************
                              Global styles
***************************************************/

html, body {
    width:100%;
    height:100%;
}

body{
    background-image:url(/bundles/rugcprogramacioncatarsis/images/bg.jpg);
    background-repeat:repeat;
    background-color:#353c47;
}

.er{/**BORDES REDONDEADOS**/
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-border-radius: 5px;
}

.s{	/**SOMBRA**/
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,.75); 
    -moz-box-shadow: 0 0 5px rgba(0,0,0,.75); 
    box-shadow: 0 0 5px rgba(0,0,0,.75);
}

#wrapper{
    width:1000px;
    margin:0 auto;
}

.banner{
    width:1000px;
    height:200px;
    background:url(/bundles/rugcprogramacioncatarsis/images/banner.jpg) no-repeat;
    background-size: auto auto;
}


/***********************************
                                MAIN
***********************************/
#main{
    min-height:300px;
    margin-top:-1px;
    background-color:#FFF;
    padding-top:15px;
    padding-bottom: 30px;
}

.titulo {
    color:#603813;
    font-family:Verdana, Geneva, sans-serif;
    font-size:16px;
}
#info{
    width:470px;
    min-height:250px;	
    float:left;
    margin-right: 20px;
    color:#624a35;
    margin-bottom: 10px;
}

#sidebar{
    width:250px;
    min-height:250px;
    float:left;
    color:#5d7585;
    text-align:justify;
}

#info2{
    width:940px;
    min-height:250px;		
    color:#624a35;
    margin-bottom: 10px;
    text-align:justify;
    padding-left:30px;
    padding-right:30px;
}

/***********************************
                                FORM
***********************************/
form{
    color:#624a35;
    font-family:"Arial Black", Gadget, sans-serif;
}


/***********************************
                        FOOTER
***********************************/
#footer{
    height:50px;
    font-family:Arial, Helvetica, sans-serif;
    font-size:14px;
    color:#624a35;
}

#izq_bar{
    width:40%;
    min-height:30px;	
    float:left;
    padding: 15px;
}

#der_bar{
    width:40%;
    min-height:30px;
    float:right;
    text-align:right;
    padding: 15px;
    font-weight:bold;
}


/***********************************
                        COMENTARIOS DE PROGRAMACIÓN
***********************************/

.divTodo{
    width: 600px;
    margin: auto;
    height: auto;
}

.divComentario{
    color: black;
    margin: auto;
    width: 600px;
    border: solid #ffeed7;
    height: auto;
    font-size: 12px;
    font-family: sans-serif;       
    padding: 1px 7px 5px 7px;
    margin-top:4px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    background-color: #fff8f0;
}

.divComentario p {
    color: black;
}

.divComentario p label {
    font-size: 14px;
}

.divProgramacionComentario{
    color: black;
    margin: auto;
    width: 600px;
    border: solid #ffeed7;
    height: auto;
    font-size: 12px;
    font-family: sans-serif;       
    padding: 2px 7px 2px 7px;
    margin-top:6px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    background-color: #fff8f0;    
}

.divProgramacionComentario label{
    float: right;
}

.divProgramacionComentario img {
    width: 100px;
    height: 100px;
    float: left;
}

.divFormComentario{
    width: 600px;
    border: solid #ffeed7;  
    overflow-y: auto;
    padding: 2px 7px 2px 7px;
    margin-top:14px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
}


.divUser{
    height: 30px;
    width: 1000px;
    text-align: right;
    font-size: 14px;
    font-family: sans-serif;
}

.areaTexto{
    height: auto;
}
.areaTexto div label{
    /*display: block;*/ 
    float: left; 
    height: 20px;
    width: auto;
}


/***********************************
                        NOTICIAS
***********************************/

.divNoticiaResumen{
    width: 600px;
    border: solid #ffeed7;  
    overflow-y: auto;
    padding: 2px 7px 5px 7px;
    margin-top:14px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
}

.divNoticiaResumen label{
    float: right;
    font-size: 12px;
}

.divNoticiaResumen a{
    float: right;
    font-size: 12px;
    font-family: sans-serif;
}

.divNoticiaResumen h3 a {
    width: 600px;
    /*text-decoration: none;*/
    font-size: 20px;
    font-family: sans-serif;
    float: left;
    color: #603813;    
    margin-bottom: 15px;
}

.divNoticiaResumenTexto{
    width: 530px;
    float: left;
    font-size: 14px;
    font-family: sans-serif;
    padding-left: 10px;
    padding-right: 60px;
}

.divNoticia{
    width: 800px;
    border: solid #ffeed7;  
    overflow-y: auto;
    padding: 2px 7px 2px 7px;
    margin: auto;
    margin-top:14px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
}

.divNoticia label{
    float: left;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 800px;
}

/*.divNoticia a{
    float: right;
    font-size: 12px;
    font-family: sans-serif;
}*/

.enlaceIzq{
    float: left;
    color:#603813;
    width: auto;
    margin-top:20px;
    padding: 2px 7px 2px 7px;
    margin-bottom: 20px;
    font-size: 14px;
    font-family: sans-serif;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    text-decoration: none; 
    border-radius: 5px 5px 5px 5px;
    background-color: #ffeacd;
}

/***********************************
                        PROGRAMACIÓN
***********************************/

.divBusqueda{
    width: 800px;
    float: right;
    overflow-y: auto;
    text-align: right;
    margin-bottom: 20px;
}

.btnBuscar
{
    cursor: pointer;
    background: url(/bundles/rugcprogramacioncatarsis/images/search.gif) no-repeat scroll 0 0 transparent;     
    float: right;
    width: auto;
    padding: 3px 10px 3px 10px;
    margin-top: 6px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px; 
    border-radius: 5px 5px 5px 5px;
}

.mensaje{
    width: 800px;
    margin: auto;
    text-align: center; 
    color: #579c84;
}

.enlaceDer{
    float: right;
    color:#603813;
    width: auto;
    margin-top:20px;
    padding: 2px 7px 2px 7px;
    margin-bottom: 20px;
    font-size: 14px;
    font-family: sans-serif;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    text-decoration: none; 
    border-radius: 5px 5px 5px 5px;
    background-color: #ffeacd;
}

.divPaginacion{
    width: 800px;
   height: 50px;
   margin: auto;
}
