/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 09/07/2014, 12:16:40 PM
    Author     : jsoto
*/

.contenedor {
    width: 1200px;
    height: auto;
    margin: auto;
}

.contenedorDerecho{
    width: 200px;
    height: auto;
    margin: auto;
    float: left;
    background-color: #5eb5e0;
}

.contenedorIzquierdo{
    width: 800px;
    height: auto;
    margin: auto;
    float: left;
}

/*p {
    padding: 0px 0px 20px;
    line-height: 1.7em;
}*/

#content {
    text-align: left;
}
body {
    font: 0.8em "trebuchet ms",arial,calibri,sans-serif;
    color: #777;
}

.footer{
    width: 1200px;
    background-color: #6d6;
    height: 100px;
    float: left;
    margin: auto;
}
.link{
    float: right;
    color:#069;
    width: auto;
    margin-bottom: 20px;
    font-size: 14px;
    font-family: sans-serif;

}

.btn{
    float: right;
    padding: 2px 7px 2px 7px;
    color:#FFFFFF;
    width: auto;
    margin-top:20px;
    margin-bottom: 20px;
    font-size: 14px;
    font-family: sans-serif;
    border:2px solid darkgreen;
    background-color: darkgreen;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;

}

.eliminar{
    float: left;
    padding: 2px 7px 2px 7px;
    color:#FFFFFF;
    width: auto;
    margin-top:8px;
    margin-bottom: 20px;
    font-size: 14px;
    font-family: sans-serif;
    border:2px solid darkgreen;
    background-color: darkgreen;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
}

.publicar{
    float: left;
    color:#FFFFFF;
    width: auto;
    margin-top:20px;
    padding: 2px 7px 2px 7px;
    margin-bottom: 20px;
    margin-right: 50px;
    font-size: 14px;
    font-family: sans-serif;
    border:2px solid darkgreen;
    background-color: darkgreen;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    text-decoration: none; 
}

.enlace{
    float: right;
    color:#FFFFFF;
    width: auto;
    margin-top:20px;
    padding: 2px 7px 2px 7px;
    margin-bottom: 20px;
    font-size: 14px;
    font-family: sans-serif;
    border:2px solid darkgreen;
    background-color: darkgreen;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    text-decoration: none;

}

.textArea{
    height: 300px;
}

.divEncabezadoRadio{
    float: left;
    width: 400px;
    height: auto;
    margin-left: 35px;
    margin-right: 35px;
    display: block;
    margin-bottom: 20px;
}
.divEncabezadoTV{
    width: 400px; 
    height: auto;
    float: left;
    margin-left: 35px;
    margin-right: 35px;
    display: block;
    margin-bottom: 20px;
}


.divRadio{
    float: left;
    width: 400px;
    overflow-y: auto;
    margin-left: 35px;
    margin-right: 35px;
}
.divTV{
    width: 400px; 
    overflow-y: auto;
    float: left;
    margin-left: 35px;
    margin-right: 35px;
}

.fechaProgramacion{
    height: auto;
    width: 1000px;
    margin: 10px 0px 10px 0px;
}

form div { 
    padding: 7px; 
}
form div label{
    display: block; 
    float: left; 
    height: 20px;
    width: 150px;
    color: grey; 
    font-weight: bold; 
    font-size:14px;
    font-family:sans-serif;
}


.table{
    margin-top: 20px;
    font-family: sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 1em;
    float: left;
}

.table tr {
    border: 0;
}

.table tr>td:first-child,tr>th:first-child {
    padding-left: 1.25em;
}

.table tr>td:last-child,tr>th:last-child {
    padding-right: 1.25em;
}

.table td,th {
    line-height: 1.5em;
    padding: 0.5em 0.6em;
    text-align: left;
    vertical-align: top;
}

.table th {
    background-color: #efefef;
    color: #666666;
    line-height: 1.7em;
    padding: 0.2em 0.6em;
}


.table thead th {
    width:1000px;
    white-space:nowrap;
    font-weight: bold;
    background:lightskyblue;
    padding-left:2px;
    font: caption;
    color:#ffffff;
    /*color: red;*/
}

.table th a {
    display: block;
    text-decoration: none;
}

.table th a:link,th a:visited {
    color: #666666;
}

.table th a:hover,th a:focus {
    color: #333333;
}

.txt{
    font-family: sans-serif;
    font-size: 12px;
    width: 250px;
    height: 23px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border:2px groove;
}

.txtArea{
    font-family: sans-serif;
    font-size: 12px;
    width: 250px;
    height: 150px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border:2px groove;
}


/*CALENDARIO*/
.tcalInput {
    background: url('/bundles/rugcprogramacioncatarsis/img_calendario/calendar.png') 100% 50% no-repeat;
    padding-right: 20px;
    cursor: pointer;
}

#tcal {
    position: absolute;
    visibility: hidden;
    z-index: 100;
    width:22%;
    background:#fbfbfb;
    margin-top: 2px;
    padding: 0 2px 2px 2px;
    border:1px solid #e5e5e5;
    font-size:12px;
    background:#fbfbfb;


    -moz-box-shadow:inset 1px 1px 2px rgba(200,200,200,0.2);
    -webkit-box-shadow:inset 1px 1px 2px rgba(200,200,200,0.2);
    box-shadow:inset 1px 1px 2px rgba(200,200,200,0.2);
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='silver')";
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='silver');
}

#tcalControls {
    border-collapse: collapse;
    border: 0;
    width: 100%;
}
#tcalControls td {
    border-collapse: collapse;
    border: 0;
    padding: 0;
    width: 16px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    cursor: pointer;
}
#tcalControls th {
    border-collapse: collapse;
    border: 0;
    padding: 0;
    height: 10px;
    line-height: 25px;
    font-size: 10px;
    text-align: center;
    font-family: Tahoma, Geneva, sans-serif;
    font-weight: bold;
    white-space: nowrap;
}
#tcalPrevYear { background-image: url('/bundles/rugcprogramacioncatarsis/img_calendario/prev_year.gif'); }
#tcalPrevMonth { background-image: url('/bundles/rugcprogramacioncatarsis/img_calendario/prev_mon.gif'); }
#tcalNextMonth { background-image: url('/bundles/rugcprogramacioncatarsis/img_calendario/next_mon.gif'); }
#tcalNextYear { background-image: url('/bundles/rugcprogramacioncatarsis/img_calendario/next_year.gif'); }


#tcalGrid {
    border-collapse: collapse;
    border: 1px solid silver;
    width: 100%;
}
#tcalGrid th {
    border: 1px solid silver;
    border-collapse: collapse;
    padding: 3px 0;
    text-align: center;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 10px;
    background-color: cadetblue;
    color: white;
}
#tcalGrid td {
    border: 0;
    border-collapse: collapse;
    padding: 2px 0;
    text-align: center;
    font-family: Tahoma, Geneva, sans-serif;
    width: 14%;
    font-size: 11px;
    cursor: pointer;
}		
#tcalGrid td.tcalOtherMonth { color: cadetblue; }
#tcalGrid td.tcalWeekend { background-color:lightgreen; }
#tcalGrid td.tcalToday { border: 1px solid green; }
#tcalGrid td.tcalSelected { background-color:forestgreen; }	

.validaciones ul{
    color: red;
    list-style-type:none;
    font-size: 14px;
    font-family: sans-serif;
    margin-bottom: 2px;
}


.imagenEdit{
    margin-top: 10px;
    margin-left: 150px;
}

.programacion{
    margin-bottom: 20px;
    background-color: lemonchiffon;
}


.tiulo{
    font-weight: bold;
    font-size: 25pt;
}
.obra{
    font-size: 20pt;
}

.descripcion{
    font-size: 13pt;
}

.ui-datepicker-calendar {
    display: none;
}




















/* CSS Document */

/***************************************************
              online solutions by marija zaric
        template distributed by
        http://freehtml5templates.com 
***************************************************


***************************************************
                              Reset
***************************************************/

/*html, body, div, span, h1, h2, h3, h4, h5, h6, p, ol, ul, li, form, label, legend, caption, aside, details, figcaption, figure, footer,header, hgroup, menu, nav, section, summary {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    /*font-size: 100%;*/
    font-family: inherit;
    vertical-align: baseline;
}*/

ol, ul {
    /*list-style: none;*/
}


a img {border:none}


aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {display: block}


/***************************************************
                              Global styles
***************************************************/

html, body {
    width:100%;
    height:100%;

}

body{
    background-image:url(/bundles/rugcprogramacioncatarsis/images/bg.jpg);
    background-repeat:repeat;
    background-color:#353c47;
}

.er{/**BORDES REDONDEADOS**/
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-border-radius: 5px;
}

.s{	/**SOMBRA**/
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,.75); 
    -moz-box-shadow: 0 0 5px rgba(0,0,0,.75); 
    box-shadow: 0 0 5px rgba(0,0,0,.75);
}

#wrapper{
    width:1000px;
    margin:0 auto;
}

.banner{
    width:1000px;
    height:200px;
    background:url(/bundles/rugcprogramacioncatarsis/images/banner.jpg) no-repeat;
    background-size: auto auto;
}

#menubar{
    width:1000px;    
    background:url(/bundles/rugcprogramacioncatarsis/images/bg_menu.png);
    height: auto;
    overflow-x: auto;
}



/**********************************
                                MENU
***********************************/

.menu-horizontal{
    list-style-type:none;
    padding:0px;
    margin:0px;

}
.prin {
    float:left;	
    display:block;
    transition:all 0.7s;
    padding-right:11.2px;
    padding-left: 11.2px;

    margin:0 1px;
    margin-bottom: 1px;
    min-height:19px;
    text-align:center;
    list-style:none;
}

.menu-horizontal li:hover{
    background:rgba(255,255,255,0.2);
}

.menu-horizontal li a{
    text-decoration:none;
    color:#ffeacd;
    font-family:Verdana, Geneva, sans-serif;
    font-size:14px;
    font-variant:small-caps;
    text-shadow: 1px 1px 1px #000;
    line-height:58px;
    display: block;
}

.menu-horizontal li ul {
    display: none;
    position: absolute;
    min-width: 100px;
    border-radius: 10px;
    -webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    /*    background-image: url(/bundles/rugcprogramacioncatarsis/images/bg_menu.png);*/
    background-color: #82A83D;
    /*background:rgba(255,255,255,0.2);*/
}

.menu-horizontal li ul li {
    width:100%;
    list-style:none;
    display:block;
    border-radius: 10px;
    -webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
}

.menu-horizontal li ul li a{
    text-decoration:none;
    color:#ffeacd;
    font-family:Verdana, Geneva, sans-serif;
    font-size:13px;
    font-variant:small-caps;
    text-shadow: 1px 1px 1px #000;
    line-height:58px;
    display: block;
}

.menu-horizontal li:hover ul{
    display:block;
}

/***********************************
                                MAIN
***********************************/
#main{
    min-height:300px;
    margin-top:-1px;
    background-color:#FFF;
    padding-top:15px;
    padding-bottom: 30px;
}

.titulo {
    color:#603813;
    font-family:Verdana, Geneva, sans-serif;
    font-size:16px;
}
#info{
    width:470px;
    min-height:250px;	
    float:left;
    margin-right: 20px;
    color:#624a35;
    margin-bottom: 10px;

}

#sidebar{
    width:250px;
    min-height:250px;
    float:left;
    color:#5d7585;
    text-align:justify;
}

#info2{
    width:940px;
    min-height:250px;		
    color:#624a35;
    margin-bottom: 10px;
    text-align:justify;
    padding-left:30px;
    padding-right:30px;
}

/***********************************
                                FORM
***********************************/
form{
    color:#624a35;
    font-family:"Arial Black", Gadget, sans-serif;
}

/*input{	
    width: 220px;
    height: 23px;
    background-color:#dbba95;
    font-family:"Arial Black", Gadget, sans-serif;
}*/

.button{
    float: right;
    width: 102px;
    height: 28px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #ffeacd;
    margin-top:15px;
    margin-left: 100px;
    margin-bottom: 25px;
}

/***********************************
                        FOOTER
***********************************/
#footer{
    height:50px;
    font-family:Arial, Helvetica, sans-serif;
    font-size:14px;
    color:#624a35;
}

#izq_bar{
    width:40%;
    min-height:30px;	
    float:left;
    padding: 15px;
}

#der_bar{
    width:40%;
    min-height:30px;
    float:right;
    text-align:right;
    padding: 15px;
    font-weight:bold;
}