/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 09/07/2014, 11:35:25 AM
    Author     : jsoto-gvasquez
*/
/** {
    padding: 0px;
    margin: 0px;
}*/
/*#menu-horizontal li a {
    color: #FFF;
    text-decoration: none;
    display: block;
    font: 100% "lucida sans unicode",arial,sans-serif;
    height: 27px;
    padding: 29px 18px 6px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    background:darkgreen;
}

#menu-horizontal>li {
    float: left;
}

#menu-horizontal li a:hover {
    background-color: #00A6D6;
}

#menu-horizontal {
    margin: auto;
    text-align: center;
    width: 1200px;
    background-color: #82A83D;
    padding: 0px;     

}

#menu-horizontal li ul {
    display: none;
    position: absolute;
    min-width: 100px;
}

#menu-horizontal li ul li {
    padding-left: 0px;
    
}

#menu-horizontal li ul li a{
    background:#6d6;
}
 

#menu-horizontal li:hover>ul {
    display: block;
     padding-left: 0px;
}

#menu-horizontal li {
    margin:0 1px;
    margin-bottom: 1px;
    width:198px;
    min-height:19px;
    text-align:center;
    list-style:none;
}

*/